@import "common.styl"
.edit-note
  .edit-c
    padding 15px
    .art-title
      font-size: 30px;
      border-bottom 1px solid $border-g
      margin: 0 auto;
      margin-bottom: 15px;
      input
        border none
        width 100%
        padding 15px
        outline none
  .btn-group
    text-align center
    width 100%
    button
      margin-top 50px
    button+button
      margin-left 20px
