@import "common.styl"
.notepad
  padding 30px 50px
  display flex
  flex-wrap wrap
  justify-content flex-start
  .n-block
    width: 330px;
    height: 300px;
    border-radius: 5px;
    padding: 5px 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    box-shadow: 0 0 10px #a8acb3;
    .n-add
      text-align center
      line-height 300px
      .iconfont
        font-size 50px
        cursor pointer
    .n-title
      padding: 10px 0;
      .n-t-del
        float right
        cursor pointer