@import "common.styl"

.note-list
  padding: 30px 50px;
  .el-pagination
    margin-top: 40px;
    float: right;
    .el-pager li:hover
      color $yellow
    .el-pager li.active
      background-color $yellow
      color: #fff;


